body{
    display: flex;
    justify-content: center;
    background: white;
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title{
    text-align: center;
    width: 100%;
}

.main-container {
    width: 100%;
}

.task-form {
    display: flex;
    gap: 10px;
    width: 500px;
}


#text-field {
    width: 70%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#text-field::placeholder {
    color: #cacaca;
}

#add-btn {
    border: none;
    color: white;
    background-color: #181818;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: 0.15s;
}

#add-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #181818;
    transition: 0.15s;
}

.tasks-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style-type: none;

}

.task-entry{
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}